.Rproj.user
eh_data
inst/extdata/*.bed
inst/BiocFileCache
.Rhistory
inst/extdata/*.fa
inst/extdata/*.tsv
inst/extdata/*.xlsx
inst/extdata/*.cov.gz
inst/extdata/DAC_coldata.rda
inst/extdata/DAC_raw_counts_multiM.rda
inst/extdata/DAC_raw_counts.rda
inst/extdata/normal_tissues_RNAseq_raw_counts_multiM.rda
inst/extdata/normal_tissues_RNAseq_coldata.rda
inst/extdata/GSE112013_Combined_UMI_table.txt
inst/extdata/Guo_et_al_TableS1
inst/extdata/Guo_et_al_TableS1_tmp
